{% extends 'base.html' %}
{% load static %}

{% block content %}
    

<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="column">
            <div class="row">
                <div class="col-6"> 
                    <a href="/crypt/"><h1>Click here</a> to go to the encrypter</h1>
                </div>
                <div class="col-6">
                    <a href="/decrypt/"><h1>Click here</a> to go to the decrypter</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}